<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.phonegap.example"
	versionCode = "10"
	version     = "1.0.0" >

	<!-- versionCode is optional and Android only -->

	<platform name="android">
		<preference name="orientation" value="portrait" />
		<icon src="img/RSP.png" />
	</platform>

	<name>RSP</name>

	<description>
		RSP by Lector
	</description>

	<author href="https://lector-web.com" email="info@lector-web.com">
		Lector
	</author>

</widget>